<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{PROJECT_NAME}}</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background-color: black;
        }
        canvas.emscripten {
            border: 0 none;
            background-color: black;
            padding: 0;
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
    <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    <script>
        var Module = {
            canvas: (function() {
                return document.getElementById('canvas');
            })()
        };
    </script>
    {{{ SCRIPT }}}
</body>
</html>
